<div class="center">

<!-- TODO: display errors, if any, here -->

  <form method="post" action="/tweet">
  <fieldset>
    <legend >Create A Tweet:</legend>
    <div>
      <label for="tweet[body]">Tweet:</label>
      <textarea  name="tweet[body]" rows="4" cols="50"  placeholder="What's happening?"></textarea>
    </div>
<!--      <div>
      <label for="user[name]">Name:</label>
      <input type="text" name="user[name]" required>
      <input type="textarea" name="tweet[body]" placeholder="What's happening?">
    </div> -->

    <input type="submit" value="Create Tweet">

    </fieldset>
  </form>

</div>
