header{
  font-size: 3em;
  background-color:#33ccff;
}

nav.header {
  float: right;
}

.center{
  text-align: center;
}

#tweet-list{
  list-style-type: none;
}

.container {
  text-align: center;
  font-family: "Goudy Bookletter 1911", sans-serif;
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;

}
