<%= user.name %>

<form action="/users" method="post">
  <textarea rows="3" cols="50" style="resize: none;" maxlength="140"></textarea><br>
  <input type="submit" value="Submit">
</form>


<% @tweet.each do |t| %>
  <%= t.body %>
<% end %>

