<div>

<!-- TODO: display errors, if any, here -->

  <form method="post" action="/login">
    <div>
      <label for="user[email]">Email:</label>
      <input type="text" name="user[email]">
    </div>
    <div>
      <label for="user[password]">Password:</label>
      <input type="password" name="user[password]">
    </div>
    <input type="submit" value="Log In">
  </form>
</div>
