<div class="center">

<!-- TODO: display errors, if any, here -->

  <form method="post" action="/login">
  <fieldset>
    <legend >Login:</legend>
    <div>
      <label for="user[email]">Email:</label>
      <input type="text" name="user[email]" required>
    </div>
    <div>
      <label for="user[password]">Password:</label>
      <input type="password" name="user[password]" required>
    </div>
    <input type="submit" value="Log In">

    </fieldset>
  </form>

</div>
