<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Lil' Twitter</title>
</head>

<body>
  <header>
    Lil' Twitter
    <nav class="header">
      <% if current_user %>
        Welcome <a href="/users/<%= current_user.id %>"><%= current_user.name %></a> | <a href="/logout">Logout</a>
      <% else %>
        <a href="/">Home</a> | <a href="/users/new">Sign Up</a>
      <% end %>
    </nav>
  </header>

  <%= yield %>

</body>
</html>
